* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

@font-face {
  font-family: 'romantisch';
  src: url('../../public/fonts/romantisch-Regular.ttf'), format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

:root {
  --primary: rgb(133, 74, 191);
  --primary-transparent: rgba(133, 74, 191, 0.4);
  --text-primary: rgb(233, 233, 233);

  --bebride-color: '#c7bfe6';

  --white: #fff;
  --black: #000;
  --light: #f8f9fa;
  --linkHover: #ff7e20;
  --text: #757575;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-500: #04d361;
}
